.Login {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form > div { 
    margin-bottom: 3vh;
}